node_modules/
dist/
build/
.next/
.out/
.env*
.DS_Store
coverage/
*.log
/vendor/
/audits/
.vscode/
reports/
jol3.html
.dependency-cruiser.cjs
CLAUDE.md
public/data/movie_list.csv
public/fonts/8-bit Arcade.png
public/fonts/8-bit Arcade.txt
public/fonts/8_bit_arcade.zip
src/data/unicode-emoji-json-main/script/fetch-tmdb.js
